.productsHeading{
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgb(73, 70, 70);
    padding: 2vmax;
    color: rgba(53, 51, 51, 0.892);
    font: 700 2.5vmax "Roboto";
    text-align: center;
}

.products{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5vmax;
    justify-content: center;
}