.banner {
    background-image: linear-gradient(to right, #635DC0, #3027AE) ;
    height: 100vmin;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

}
.banner > h1{
    margin: 3vmax;
    font: 600 2.5vmax "Roboto";
}
.banner > p{
    font: 300 1.4vmax "Lucida Sans";
}
.scrol .btn{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
    color: rebeccapurple;
}
.scrol .btn:hover{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.banner::after{
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    clip-path: polygon(100% 100%, 0% 100%, 100% 77%);
}
.homeHeading{
    text-align: center;
    font-family: "Roboto";
    font-size: 1.4vmax;
    border-bottom: 1px solid black;
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color:  rgb(47, 47, 47);
}
.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

.ProductCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: 0.5s;
    padding-bottom: 0.5vmax;
}

.ProductCard > img {
    width: 14vmax;
}
.ProductCard > div {
    margin: 0.5vmax;
    justify-content: flex-start;
    align-items: center;
}
.productCardSpan {
    margin: 0.5vmax;
    font:500 0.6vmax "Roboto";
}
.ProductCard > p{
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}
.ProductCard span{
    margin: 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}
.ProductCard:hover{
    box-shadow: 0 0 10px rgba(19, 18, 18, 0.26);
    transform: translateY(-1vmax);
}

@media screen and (max-width:600px) {
    .ProductCard >p{
        font-size: 1.7vmax;
    }
    .ProductCard > div {
        margin: 0;
        display: block;
    }
    .ProductCard>span{
        font-size: 1.5vmax;
    }
    .ProductCard >div>span{
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }
}
